[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "powerlevel10k"]
	path = powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
	ignore = dirty
[submodule "ohmyzsh"]
	path = ohmyzsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
	ignore = dirty
